<%= form_for(@semester) do |f| %>
  <% if @semester.errors.any? %>
    <div id="error_explanation">

      <ul>
      <% @semester.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="espacamento">
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: 'autofocus' %>
    </div>
    <div class="field">
      <%= f.label :start_date %>
      <%= f.text_field :start_date, class: 'datepicker', placeholder: 'dd/mm/aaaa' %>
    </div>
    <div class="field">
      <%= f.label :end_date %>
      <%= f.text_field :end_date, class: 'datepicker', placeholder: 'dd/mm/aaaa' %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $('.salvar').click(function() {
    $('form').submit();
  });
</script>
