<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @semester.name %>
</p>

<p>
  <b>Start date:</b>
  <%= @semester.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @semester.end_date %>
</p>

