<%= form_for(@institution) do |f| %>
  <% if @institution.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @institution.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="espacamento">
  <div class="field">
    <%= f.label :campus %>
    <%= f.text_field :campus, autofocus: 'autofocus' %>
  </div>
</div>
<% end %>
<script type="text/javascript">
  $('.salvar').click(function() {
    $('form').submit();
  });
</script>
