<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Instituições</a>
    <ul class="nav">
      <li><%= link_to 'Novo', new_institution_path %></li>
    </ul>
  </div>
</div>
<table class="table table-hover">
  <tr>
    <th>Campus</th>
    <th width="80">Ações</th>
  </tr>

<% @institutions.each do |institution| %>
  <tr>
    <td><%= institution.campus %></td>
    <td>
      <%= link_to edit_institution_path(institution), title: 'Editar' do %><i class="icon-edit"></i><% end %>
      <%= link_to institution, method: :delete, data: { confirm: 'Você tem certeza?' }, title: 'Remover' do %> <i class="icon-trash"></i> <% end %>
    </td>
  </tr>
<% end %>
</table>