<%= form_for(@holiday) do |f| %>
  <% if @holiday.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @holiday.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="espacamento">
    <div class="field">
      <%= f.label :description %>
      <%= f.text_field :description, autofocus: 'autofocus' %>
    </div>
    <div class="field">
      <%= f.label :day %>
      <%= f.number_field :day, class: 'fixo' %>
    </div>
    <div class="field">
      <%= f.label :month %>
      <%= f.number_field :month, class: 'fixo' %>
    </div>
    <div class="field">
      <%= f.label :fixed %>
      <%= f.check_box :fixed, id: 'fixo' %>
    </div>
    <div class="field">
      <%= f.label :date %>
      <%= f.text_field :date, class: 'datepicker', placeholder: 'dd/mm/aaaa' %>
    </div>
</div>
<% end %>


<script type="text/javascript">
  $('.salvar').click(function() {
    $('form').submit();
  });
</script>


<script type="text/javascript">

function desabilitar() {
  if ($("#fixo").prop('checked'))
  {
    $(".nao-fixo").prop('disabled', true);
    $(".fixo").prop('disabled', false);
  }else{
    $(".nao-fixo").prop('disabled', false);
    $(".fixo").prop('disabled', true);
  }
}

desabilitar();

$("#fixo").click(function() {
  desabilitar();
});

</script>