<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @holiday.description %>
</p>

<p>
  <b>Day:</b>
  <%= @holiday.day %>
</p>

<p>
  <b>Month:</b>
  <%= @holiday.month %>
</p>

<p>
  <b>Fixed:</b>
  <%= @holiday.fixed %>
</p>

<p>
  <b>Date:</b>
  <%= @holiday.date %>
</p>

