<% unless flash.empty? %>
  <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h3><%= flash[:error] %></h3>
  </div>
<% end %>

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Aprovar Reservas</a>
    <ul class="nav">
      
    </ul>
  </div>
</div>

<div class="espacamento">
    <table class="table table-hover">
      <tr>
        <th>Data</th>
        <th>Usuário</th>
        <th>evento</th>
        <th>Horário de Início</th>
        <th>Horário de Saída</th>
        <th>Justificativa</th>
        <th>Espaço</th>
        <th>Status da Reserva</th>
        <th>Opções</th>
      </tr>

    <% @reserves.each do |reserve| %>
      <tr class="<%= customizar_aaah!(reserve.reservation_status_id) %>">
        <td><%= format_date_br reserve.date %></td>
        <td><%= reserve.user.name %></td>
        <td><%= reserve.event %></td>
        <td><%= schedules[reserve.start_time] %></td>
        <td><%= schedules[reserve.end_time] %></td>
        <td>
            <!-- Link para abrir a janela de dialogo modal -->
          <a href="#justification_<%= reserve.id %>" role="button" data-toggle="modal">Exibir</a>
          <!-- janela de dialogo modal -->
          <div id="justification_<%= reserve.id %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel_<%= reserve.id %>">Justificativa</h3>
            </div>
            <div class="modal-body">
              <p><%= reserve.justification %></p>
            </div>
          </div>
          <!-- fim da janela de dialogo modal -->

        </td>
        <td><%= reserve.space.location_type.name %> <%= reserve.space.name %></td>
        <td><%= reserve.reservation_status.name %></td>
        <td>
            <%= link_to approve_reserves_path(reserve.id), title: 'Aprovar' do %><i class="icon-ok" ></i><%end%>
            <%= link_to non_approve_reserves_path(reserve.id), title: 'Não Aprovar' do %><i class="icon-remove"></i><%end%>
        </td>
      </tr>
    <% end %>
    </table>
</div>