<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Minhas Reservas</a>
    <ul class="nav">
      <li><%= link_to 'Criar nova', reserve_of_physical_spaces_espacos_path %></li>
    </ul>
  </div>
</div>

<div class="espacamento">
<table class="table table hover">
  <tr>
    <th>Data</th>
    <th>Horário de Inicio</th>
    <th>Horário de Fim</th>
    <th>Evento</th>
    <th>Justificativa</th>
    <th>Valor</th>
    <th>Pagamento Confirmado</th>
    <th>Espaço</th>
    <th>Status da Reserva</th>
    <th>Ações</th>
  </tr>

<% @reserve_of_physical_spaces.each do |reserve_of_physical_space| %>
  <tr class="<%= customizar_aaah!(reserve_of_physical_space.reservation_status_id) %>">
    <td><%= format_date_br reserve_of_physical_space.date %></td>
    <td><%= schedules[reserve_of_physical_space.start_time] %></td>
    <td><%= schedules[reserve_of_physical_space.end_time] %></td>
    <td><%= reserve_of_physical_space.event %></td>
    <td>
      <!-- Link para abrir a janela de dialogo modal -->
      <a href="#justification_<%= reserve_of_physical_space.id %>" role="button" data-toggle="modal">Exibir</a>
      <!-- janela de dialogo modal -->
      <div id="justification_<%= reserve_of_physical_space.id %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel_<%= reserve_of_physical_space.id %>">Justificativa</h3>
        </div>
        <div class="modal-body">
          <p><%= reserve_of_physical_space.justification %></p>
        </div>
      </div>
      <!-- fim da janela de dialogo modal -->

    </td>
    <td><%= reserve_of_physical_space.price %></td>
    <td><%= frendly_boolean reserve_of_physical_space.payment_confirmed %></td>
    <td><%= reserve_of_physical_space.space.name %></td>
    <td><%= reserve_of_physical_space.reservation_status.name %></td>
    <td>
       <%= link_to reserve_of_physical_space, title: 'Detalhes' do %> <i class="icon-list"></i><%end%>
       <%= link_to edit_reserve_of_physical_space_path(reserve_of_physical_space), title: 'Editar' do %> <i class="icon-edit"></i><%end%>
       <%= link_to reserve_of_physical_space, method: :delete, data: { confirm: 'Você tem certeza?'}, title: 'Excluir' do %> <i class="icon-trash"></i><%end%>
    </td>
  </tr>
<% end %>
</table>
</div>