<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Nova Reserva</a>
    <ul class="nav">
      <li><%= link_to 'Salvar', '#', class: 'salvar' %></li>
      <li><%= link_to 'Cancelar', calendario_path(@id,@mes,@ano) %></li>
    </ul>
  </div>
</div>

<%= form_for @reserve_of_physical_space, url: create_reserve_path(@id,@mes,@ano), method: 'post' do |f| %>

  <% if @reserve_of_physical_space.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @reserve_of_physical_space.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="espacamento">
  <div class="field">
    <%= f.label :date %>
    <%= f.text_field :date, class: 'datepicker', placeholder: 'dd/mm/aaaa' %>
  </div>
  <div class="field">
    <%= f.label :start_time %>
    <%# f.text_field :start_time %>
    <%= f.select :start_time, schedules_select, prompt: true %>
  </div>
  <div class="field">
    <%= f.label :end_time %>
    <%= f.select :end_time, schedules_select, prompt: true %>
  </div>
  <div class="field">
    <%= f.label :event %>
    <%= f.text_field :event %>
  </div>
  <div class="field">
    <%= f.label :justification %>
    <%= f.text_area :justification, rows: 5 %>
  </div>
  <div class="field">
    <%= f.hidden_field :space_id %>
  </div>
</div>
<% end %>


<script type="text/javascript">
  $('.salvar').click(function() {
    $('form').submit();
  });
</script>