<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Espaços</a>
    <ul class="nav">
      <li><%= link_to 'Criar novo', new_space_path %></li>
    </ul>
  </div>
</div>

<div class="espacamento">
  <table class="table table-hover">
    <tr>
      <th>Nome</th>
      <th>Capacidade</th>
      <th>Observações</th>
      <th>Tamanho</th>
      <th>Preço</th>
      <th width="80">Ações</th>
    </tr>

  <% @spaces.each do |space| %>
    <tr>
      <td><%= space.name %></td>
      <td><%= space.capacity %></td>
      <td><%= space.observations %></td>
      <td><%= space.size %></td>
      <td><%= space.price_local %></td>
      <td>
          <%= link_to edit_space_path(space), title: 'Editar' do %><i class="icon-edit"></i><% end %>
          <%= link_to space, method: :delete, data: { confirm: 'Você tem certeza?' }, title: 'Remover' do %> <i class="icon-trash"></i> <% end %>
      </td>
    </tr>
  <% end %>
  </table>
</div>