<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @space.name %>
</p>

<p>
  <b>Capacity:</b>
  <%= @space.capacity %>
</p>

<p>
  <b>Observations:</b>
  <%= @space.observations %>
</p>

<p>
  <b>Size:</b>
  <%= @space.size %>
</p>

<p>
  <b>Price local:</b>
  <%= @space.price_local %>
</p>

