<p id="notice"><%= notice %></p>

<p>
  <b>Month year:</b>
  <%= @monthly.month_year %>
</p>
<p>
  <b>Amount:</b>
  <%= @monthly.amount %>
  <b>Data:</b>
  <%= @monthly.data %>
</p>
<p>
  <b>Qtde:</b>
  <%= @monthly.qtde %>
</p>
<p>
  <b>Daily rate:</b>
  <%= @monthly.daily_rate %>
</p>
<p>
  <b>Driver:</b>
  <%= @monthly.driver %>
</p>
<p>
  <b>Travel:</b>
  <%= @monthly.travel %>
</p>
<%= link_to 'Edit', edit_monthly_path(@monthly) %> |
<%= link_to 'Back', monthlies_path %>
