<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Editar perfíl</a>
    <ul class="nav">
      <li><%= link_to 'Salvar', '#', class: 'salvar' %></li>
      <li><%= link_to 'Cancelar', root_path %></li>
    </ul>
  </div>
</div>

<div class="espacamento">
  <%= form_for @user, url: update_user_password_path, method: :post do |f| %>
    <%= f.label :current_password %>
    <%= f.password_field :current_password, autofocus: 'autofocus' %>

    <%= f.label 'Nova senha' %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  <% end %>
</div>

<script type="text/javascript">
  $('.salvar').click(function() {
    $('form').submit();
  });
</script>