<%= form_for(@request) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row espacamento">

  <div class="span6">
    <div class="field">
      <%= f.label :date_of_departure %>
      <%= f.text_field :date_of_departure, class: 'datepicker', placeholder: 'dd/mm/aaaa' %>
    </div>
    <div class="field">
      <%= f.label :return_date %>
      <%= f.text_field :return_date, class: 'datepicker',placeholder: 'dd/mm/aaaa' %>
    </div>
    <div class="field">
      <%= f.label :goal %>
      <%= f.text_area :goal, rows: 5 %>
    </div>
  </div>

  <div class="span6">
      <div class="field">
        <%= f.label :justification %>
        <%= f.text_area :justification, rows: 5 %>
      </div>
      <div class="field">
        <%= f.label :destination %>
        <%= f.text_field :destination %>
      </div>
      <div class="field">
        <%= f.label :distance %>
        <%= f.number_field :distance %>
      </div>
    
  </div>
</div>

<% end %>

<script type="text/javascript">
  $('.salvar').click(function() {
    $('form').submit();
  });
</script>
