<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @request.date %>
</p>

<p>
  <b>Date of departure:</b>
  <%= @request.date_of_departure %>
</p>

<p>
  <b>Return date:</b>
  <%= @request.return_date %>
</p>

<p>
  <b>Goal:</b>
  <%= @request.goal %>
</p>

<p>
  <b>Justification:</b>
  <%= @request.justification %>
</p>

<p>
  <b>Destination:</b>
  <%= @request.destination %>
</p>

<p>
  <b>Distance:</b>
  <%= @request.distance %>
</p>

<p>
  <b>User:</b>
  <%= @request.user %>
</p>



