<%= form_for(@travel_expense) do |f| %>
  <% if @travel_expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@travel_expense.errors.count, "error") %> prohibited this travel_expense from being saved:</h2>

      <ul>
      <% @travel_expense.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :justification %><br />
    <%= f.text_area :justification %>
  </div>
  <div class="field">
    <%= f.label :travel %><br />
    <%= f.text_field :travel %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
