<p id="notice"><%= notice %></p>

<p>
  <b>Price:</b>
  <%= @travel_expense.price %>
</p>

<p>
  <b>Justification:</b>
  <%= @travel_expense.justification %>
</p>

<p>
  <b>Travel:</b>
  <%= @travel_expense.travel %>
</p>


<%= link_to 'Edit', edit_travel_expense_path(@travel_expense) %> |
<%= link_to 'Back', travel_expenses_path %>
