<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Listando Viagens</a>
    <ul class="nav">
      <%= form_for @travel_driver, html: { class: 'navbar-form', style: 'display: inline' }  do |f| %>
          <%= f.collection_select :driver_id, Driver.where(deleted: false), :id, :name, prompt: true %>
          <%= f.hidden_field :travel_id %>
          <%= link_to 'Adicionar', '#', class: 'salvar btn' %>
          <%= link_to 'Voltar', confirmation_travel_path(@travel_driver.travel.request.id), class: 'btn' %>
          <%= link_to 'Confirmar', confirmations_path, class: 'btn' %>
      <%end%>
    </ul>
  </div>
</div>
<div class='espacamento'>
  <table class= "table table-hover">
    <tr>
      <th>Solicitante</th>
      <th>Viagem</th>
      <th>Motorista</th>
      <th>Opções</th>
    </tr>

  <% @travel_drivers.each do |travel_driver| %>
    <tr>
      <td><%= travel_driver.travel.request.user.name %></td>
      <td><%= travel_driver.travel.request.goal %></td>
      <td><%= travel_driver.driver.name %></td>
      <td> 
        <%= link_to travel_driver,method: :delete, data: { confirm: 'Você tem certeza?' }, title: 'Remover' do %><i class= "icon-trash"></i><%end%>
      </td>
    </tr>
  <% end %>
  </table>
</div>

<script type="text/javascript">
  $('.salvar').click(function() {
    $('form').submit();
  });
</script>