<p id="notice"><%= notice %></p>
<div class='espacamento'>
	<p>
	  <b>Travel:</b>
	  <%= @travel_driver.travel %>
	</p>

	<p>
	  <b>Driver:</b>
	  <%= @travel_driver.driver %>
	</p>

	<p>
	  <b>Number of daily:</b>
	  <%= @travel_driver.number_of_daily %>
	</p>
</div>

