<%= form_for(@reservation_status) do |f| %>
  <% if @reservation_status.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @reservation_status.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: 'autofocus' %>
  </div>
  <div class="actions">
    <%= f.submit 'Salvar', class: 'btn btn-info' %>
    <%= link_to 'Cancelar', reservation_statuses_path, class: 'btn btn-info' %>
  </div>
<% end %>
