<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Reservas Fixas - Períodos Letivos</a>
  </div>
</div>

<div class="espacamento">
  <table class="table table-hover">
    <tr>
      <th>Nome</th>
      <th>Data do Início</th>
      <th>Data do Fim</th>
      <th width="110">Ações</th>
    </tr>

  <% @semesters.each do |semester| %>
    <tr>
      <td><%= semester.name %></td>
      <td><%= format_date_br semester.start_date %></td>
      <td><%= format_date_br semester.end_date %></td>
      <td>
        <%= link_to 'Escolher Espaço', alocation_permanents_espacos_path(semester.id) %>
      </td>
    </tr>
  <% end %>
  </table>

</div>

