<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Listando Confirmações</a>
  </div>
</div>

<div class="espacamento">
  <table class="table table-hover">
    <tr>
      <th>Data</th>
      <th>Usuario</th>
      <th>Objetivo</th>
      <th>Destino</th>
      <th>Participantes</th>
      <th>Justificativa</th>
      <th>Opções</th>
    </tr>

  <% @requests.each do |request| %>
    <tr class="<%= customizar(request) %>">
      <td><%= format_date_br request.date %></td>
      <td><%= request.user.name %></td>
      <td><%= request.goal %></td>
      <td><%= request.destination %></td>
      <td><%= request.participants.count %></td>
      <td>
        <a href="#justification_<%= request.id %>" role="button" data-toggle="modal">Exibir</a>
        <!-- Link para abrir a janela de dialogo modal -->
        <% if customizar(request) == 'warning' %>
          <a href="#justification_negativa_<%= request.id %>" role="button" data-toggle="modal">/ Justificativa de desaprovação</a>
        <% end %>
        <!-- janela de dialogo modal -->
        <div id="justification_<%= request.id %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel_<%= request.id %>">Justificativa</h3>
          </div>
          <div class="modal-body">
            <p><%= request.justification %></p>
          </div>
        </div>
            <!-- janela de dialogo modal -->
        <% if customizar(request) == 'warning' %> 
          <div id="justification_negativa_<%= request.id %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel_<%= request.id %>">Justificativa de desaprovação</h3>
              </div>
              <div class="modal-body">
                <p><%= request.confirmations.last.disapproval_justification %></p>
              </div>
          </div>
          <!-- fim da janela de dialogo modal -->
        <%end%>
      </td>
      <td>
          <%= link_to approve_request_path(request.id), title: 'Aprovar' do %><i class="icon-ok" ></i><%end%>
          <%= link_to non_approve_form_request_path(request.id), title: 'Não Aprovar' do %><i class="icon-remove"></i><%end%>
          <%if customizar(request) == 'success' %>
            <%= link_to confirmation_travel_path(request.id), title: 'Cadastrar viagem' do %><i class="icon-plane" ></i><%end%>
          <%end%>
    </tr>
  <% end %>
  </table>
</div>