/*
 *= require_self
 *= require bootstrap-datepicker
 *= require_tree .
 */

.sair-do-contaniner {
	position: absolute;
	left: 0;
}

.empurrar-botao-para-baixo {
	margin-top: 650px;
}

.feriado-recesso {
  background: #FF4500;
}

.alocacao-permanente {
  background: #d3d3d3;
}

.reserva-usuario {
  background: #ffd700;
}

.tabela {
  border: 1px #ddd solid;
}

.tabela tr {
  border: 1px #ddd solid;
}

.tabela td {
  border: 1px #ddd solid;
}

.tabela th {
  border: 1px #ddd solid;
}

.aumentar-largura {
  width: 20px;
}

.espacamento {
  padding-left: 20px;
  padding-right: 20px;
}

/*.success {
  background-color: #dfffd8;
}*/