<ul class="nav">
  <li><%= link_to 'Inicio', home_patrimonio_path %></li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Controle de Patrimônio<b class="caret"></b></a>
    <ul class="dropdown-menu">  
      <li><%= link_to 'Tipos de Espaço Físico', location_types_path %></li>
      <li><%= link_to 'Espaços', spaces_path %></li>
      <li><%= link_to 'Recessos', recesses_path %></li>
      <li><%= link_to 'Feriados', holidays_path %></li>
      <li><%= link_to 'Periodos Letivos', semesters_path %></li>
      <li><%= link_to 'Reservas Fixas', alocation_permanents_path %></li>
      <li><%= link_to 'Aprovação de Reservas', aprovacoes_path %></li>
    </ul>
  </li>
  <li><%= link_to 'Reserva de espaço', reserve_of_physical_spaces_path %></li>
  <li><%= link_to 'Solicitação de diárias', '#' %></li>
  <li><%= link_to 'Solicitação de transporte', requests_path %></li>
</ul>

<ul class="nav pull-right">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %><b class="caret"></b></a>
    <ul class="dropdown-menu">  
      <li><%= link_to 'Editar perfil', edit_user_profile_path %></li>
      <li><%= link_to 'Alterar senha', edit_user_password_path %></li>
    </ul>
  </li>
  <li><%= link_to 'Sair', user_logout_path %></li>
</ul>