<!DOCTYPE html>
<html>
<head>
  <title>SCAD</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="espacamento">
      <%= link_to "SCAD", '#', class: "brand" %>
      <%= render 'layouts/navbar_default' unless administrator_authenticated? || user_authenticated? %>
      <%= render 'layouts/navbar_admin' if administrator_authenticated? %>
      <%= render 'layouts/navbar_patrimonio' if chefe_setor_patrimonio? %>
      <%= render 'layouts/navbar_transporte' if chefe_setor_transporte? %>
      <%= render 'layouts/navbar_usuario_nivel_1' if usuario_nivel_1? %>
      <%= render 'layouts/navbar_alunos' if aluno? %>
      <%= render 'layouts/navbar_externos' if externo? %>
      <%= render 'layouts/navbar_caf' if caf? %>
      <%= render 'layouts/navbar_diretor' if diretor? %>
    </div>
  </div>
</div>

<%= yield %>

<hr>
<div class="row espacamento">
  <footer>
    <p class="pull-left espacamento">Desenvolvido por GDS (Grupo de Desenvolvimeto de Sistemas) do GDIE (Grupo de Desenvolvimento de Informática e Eletrônica)</p>
    <p class="pull-right">&copy; Sistema de Consulta e Apoio à Decisão - UFPI - CSHNB 2014</p>
  </footer>
</div>

</body>
</html>